#calendar {
  width: 900px;
  height: 700px;
  border-collapse: collapse;
  font-size: 14px;
  font-family: Helvetica, Arial, sans;
  background-color: white;
}

#calendar tbody td {
  border: 1px solid black;
  text-align: right;
  vertical-align: top;
  /*width: 14%;*/
}

#calendar td.empty {
  border: none;
}

.bike {
  background-color: lightgreen;
}

.carpool {
  background-color: purple;
}

.school {
  background-color: yellow;
}
